*{
  margin: 0;
  padding: 0;
}
header{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(138, 138, 138);
  padding-bottom: 20px;
  padding-top: 20px;

}
header h1{
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
}
header img{
  width: 250px;
  border-radius: 50%;
}
header h2{
 font-size: 20px;
}

main{
margin: 20px auto;
width: 80%;
border: 1px solid rgb(141, 139, 139);
border-radius: 7px;
}

section h1{
  border-left: 10px solid rgb(111, 111, 111) ;
  padding-left: 10px;
  margin-bottom: 20px
}
section h2{
  font-style: italic;
  margin-top: 10px

}
section p{
  font-size:20px;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  padding-bottom: 20px;
  padding-top: 20px;
}

